<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puray">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Demo"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rest.RegistrationActivity"></activity>
        <activity android:name=".rest.LoginActivity" />
        <activity android:name=".rest.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewNote"
            android:label="@string/title_activity_view_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.puray.MainActivity" />
        </activity>
        <activity
            android:name=".TrialActivity"
            android:label="@string/title_activity_trial"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.puray.MainActivity" />
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.puray.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Demo"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>